In [21]:
import pandas as pd
import numpy as np

In [ ]:
# Downloaded Kaggle data has been unzipped and put in the 'data' folder which contains the 
# mapping of the train folder with trainLabels.csv
# unzip train001-004 zips into 'data/train' folder
# unzip train005 zip into 'data/test' folder

In [2]:
df = pd.read_csv('data/trainLabels.csv',header=0)

In [4]:
df.shape

(35126, 2)

In [5]:
df.columns.values

array(['image', 'level'], dtype=object)

In [6]:
dffiles = df.image.values

In [36]:
import os

In [37]:
files = os.listdir('data/train/')

In [38]:
filesL = [i.replace('.jpeg','') for i in files]

In [39]:
dffilesN = df[df.level.isin([0,3,4])].image.values

In [40]:
len(dffilesN)

27391

In [41]:
len(set(dffilesN) & set(filesL))

26306

In [42]:
dfnew = df[df.level.isin([0,3,4])]

In [43]:
dfnew.head()

      image  level
0   10_left      0
1  10_right      0
2   13_left      0
3  13_right      0
6   16_left      4

In [44]:
dfnew.level.values

array([0, 0, 0, ..., 0, 0, 0])

In [45]:
from collections import Counter

In [46]:
c = Counter(dfnew.level.values)

In [47]:
c

Counter({0: 25810, 4: 708, 3: 873})

In [48]:
dfnewL = dfnew[dfnew.image.isin(filesL)]

In [49]:
c = Counter(dfnewL.level.values)

In [50]:
c

Counter({0: 24793, 4: 672, 3: 841})

In [51]:
dfsymptoms = dfnewL[dfnewL.level.isin([3,4])]
dfnosymptoms = dfnewL[dfnewL.level == 0]

In [52]:
dfsymptoms.shape

(1513, 2)

In [53]:
dfnosymptoms.shape

(24793, 2)

In [54]:
import shutil

In [55]:
os.mkdir('project_data/symptoms')
os.mkdir('project_data/nosymptoms')

In [56]:
for i in dfsymptoms.image.values:
    shutil.copy('data/train/'+i+'.jpeg','project_data/symptoms/')

In [58]:
for i in dfnosymptoms.image.values[:1600]:
    shutil.copy('data/train/'+i+'.jpeg','project_data/nosymptoms/')

In [59]:
testfiles = os.listdir('data/test/')

In [60]:
testfilesL = [i.replace('.jpeg','') for i in testfiles]

In [61]:
len(set(dffilesN) & set(testfilesL))

920

In [64]:
dftest = df[df.image.isin(testfilesL)]
dftest = dftest[dftest.level.isin([0,3,4])]

In [65]:
dftest.shape

(920, 2)

In [66]:
c = Counter(dftest.level.values)

In [67]:
c

Counter({0: 865, 3: 24, 4: 31})

In [68]:
os.mkdir('project_data/test/')

In [69]:
for i in dftest.image.values:
    shutil.copy('data/test/'+i+'.jpeg','project_data/test')

In [78]:
dftest['level'] = [0 if i==0 else 1 for i in dftest.level.values]

In [85]:
dftest.to_csv('project_data/test/test_labels.csv',index=False)

In [81]:
f = pd.read_csv('project_data/test/test_labels.csv',header=0)

In [83]:
f.head()

      image  level
0   84_left      0
1  84_right      0
2   95_left      0
3  95_right      0
4  842_left      0

In [84]:
dftest.head()

        image  level
86    84_left      0
87   84_right      0
88    95_left      0
89   95_right      0
686  842_left      0